# Project specific
/migrator/__pycache__/*
/migrator/migrations/*
!/migrator/migrations/*_*-*
!/migrator/*

# Configuration
/backend/config.toml
/bot/config.toml
/dash/config.toml
!/backend/example.config.toml
!/bot/example.config.toml
!/dash/example.config.toml

# Binaries
/backend/bin/
/backend/target/
/bot/bin/
/bot/target/
/dash/bin/
/dash/target/
*.bin
*.swp
*.tmp

# OS garbage
.DS_Store
Thumbs.db

# IDE garbage
.vscode
.idea
