# GitHub Linguist Coloring
*.asm linguist-language=Assembly
*.ll linguist-language=Assembly
*.c linguist-language=C
*.h linguist-language=C
*.java linguist-language=Java
*.lua linguist-language=Lua
*.dm linguist-language=Darkmatter
*.json linguist-language=JSON
*.rs linguist-language=Rust
