# GitHub Linguist Coloring
*.md linguist-language=Markdown
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true
*.dm linguist-language=Darkmatter
*.asm linguist-language=Assembly
*.ll linguist-language=LLVM
*.c linguist-language=C
*.h linguist-language=C
*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.rs linguist-language=Rust
*.java linguist-language=Java
*.kts linguist-language=Kotlin
*.html linguist-language=HTML
*.css linguist-language=CSS
*.hbs linguist-language=Handlebars
*.mustache linguist-language=Mustache
*.js linguist-language=JavaScript
*.py linguist-language=Python
*.sh linguist-language=Shell
*.bat linguist-language=Batchfile
*.lua linguist-language=Lua
*.json linguist-language=JSON
*.toml linguist-language=TOML
*.jar binary
*.bin binary
*.gguf binary
